@model IEnumerable<Medicine>
@(ViewData["Title"]="Medicines Galary")

<section class="page-section mt-5">
    <!-- Carousel wrapper -->
    <div id="carouselMultiItemExample"
         data-mdb-carousel-init class="carousel slide carousel-dark text-center"
         data-mdb-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                   @foreach(var item in Model) { 
                    <div class="col-lg-4">
                                    <div class="card m-3">
                                        <img src="/img/portfolio/@item.Image"
                                             class="card-img-top img-fluid"style="max-height:250px "
                                             alt="Waterfall" />
                                        <div class="card-body">
                                            <h5 class="card-title">@item.TradeName</h5>
                                            <p class="card-text">
                                                @item.Description 
                                                <br />
                                                    Price : @item.Price <br />

                                                    Type : @item.MedicineType
                                                
                                            </p>
                                            <a asp-action="AddMedicine" asp-controller="Home" asp-route-id="@item.Id" data-mdb-ripple-init class="btn btn-primary">Add to my Profile</a>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    
                </div>
            </div>
        </div>   
        <!-- Inner -->
    </div>
    <!-- Carousel wrapper -->
</section>