@model IEnumerable<MedicineViewModel>;
@{
    ViewData["Title"] = "Index";

    ViewData["Controller"] = "Medicine";
    Layout = "_AdminLayout";
}
<!-- Include Animate.css from CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

<div class="container py-5">
    <div class="row mb-4">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white shadow animate__animated animate__fadeInDown">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-white">Medicine Count</div>
                        <div class="h1 font-weight-bold">@Model.Count()</div>
                    </div>
                </div>
                <a href="#" class="card-footer text-white d-flex align-items-center justify-content-between small stretched-link">
                    View Details
                    <div class="text-white"><i class="fas fa-angle-right"></i></div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="mb-4 animate__animated animate__fadeIn">Medicines Details</h2>
            <p class="animate__animated animate__fadeIn">
                <a asp-action="Create" class="btn btn-primary animate__animated animate__zoomIn">Create New</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="datatablesSimple">
                    <thead class="bg-primary text-white">
                        <tr>

                            <th>Medicine Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="animate__animated animate__fadeInUp">

                                <td>@Html.DisplayFor(modelItem => item.TradeName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.MedicineType.TypeName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn btn-warning btn-edit m-1" data-id="@item.Id">Edit</button>
                                        <button class="btn btn-danger btn-delete m-1 " data-id="@item.Id">Delete</button>
                                        <a asp-action="Details" asp-controller="Medicine" asp-route-id="@item.Id" class="m-1 btn btn-danger" title="Details">Details</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <th>Medicine Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Manage</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>