@model IEnumerable<MedicineModel>;
@{
    ViewData["Title"] = "Index";

    ViewData["Controller"] = "Medicine";
    Layout = "_AdminLayout";
}


<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Medicine Counts </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#"> @Model.Count()</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    
 </div>

<div>
    <i class=""></i>
    Medicines Details
    <p>
        <a asp-action="Create" class="btn btn-primary ">Create New</a>
    </p>

    <table id="datatablesSimple" class="table">
        <thead>
            <tr>
                <th scope="col">


                    @Html.DisplayNameFor(model => model.First().Id)

                </th>
                <th scope="col">

                    @Html.DisplayNameFor(model => model.First().TradeName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th scope="col">
                    Category
                </th>
                <th scope="col">
                    Type
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.First().Price)

                </th>
                <th scope="col">
                    Manage
                </th>
                <th scope="col">

                    Patients Count

                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>

                <th scope="row">ID</th>
                <th>Medicine  name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Type</th>
                <th>Price</th>
                <th>Manage</th>
            </tr>
        </tfoot>
        <tbody>

            @foreach (var item in Model)
            {

            <tr>

                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>

                    <button class="btn btn-warning btn-edit" data-id="@item.Id">Edit</button>
                    <button class="btn btn-danger btn-delete" data-id="@item.Id">Delete</button>

                    <a asp-action="Details" asp-controller="Medicine" asp-route-id="@item.Id"><i class="far fa-address-card"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
