@model ApplicationCore.ViewModel.PatientMedicineViewModel;

@{
    ViewData["Title"] = "Index";

    Layout = "_AdminLayout";
}


<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Medicine Counts </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#"> @Model.Medicines.Count()</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Patient Counts </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">@Model.Patients.Count()</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
 </div>
<div>
     <table id="datatablesSimple" class="table">
        <thead>
            <tr>
                <th scope="col">


                    @Html.DisplayNameFor(model => model.Patients.First().Id)

                </th>
                <th scope="col">

                    @Html.DisplayNameFor(model => model.Patients.First().User.FirstName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Patients.First().User.LastName)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.Patients.First().BIO)

                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Patients.First().User.CreationTime)

                </th>

                <th scope="col">
                    Manage
                </th>

            </tr>
        </thead>
        <tfoot>
            <tr>

                <th scope="row">ID</th>
                <th>First  name</th>
                <th>Last name</th>
                <th>BIO</th>
                <th>Creation Time</th>

                <th>Manage</th>
            </tr>
        </tfoot>
        <tbody>

            @foreach (var item in Model.Patients)
            {

                <tr>

                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.CreationTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Patients" asp-route-id="@item.Id"><i class="far fa-pen-to-square text-bg-info"></i></a>
                        <a asp-action="Details" asp-controller="Patients" asp-route-id="@item.Id"><i class="far fa-address-card"></i></a>
                        <a asp-action="Delete" asp-controller="Patients" asp-route-id="@item.Id"><i class="far fa-trash-can text-bg-danger"></i></a>
                    </td>


                </tr>
            }
        </tbody>
    </table>

</div>
<hr />

<div>
    <i class=""></i>
    Medicines Details
    <p>
        <a asp-action="Create" class="btn btn-primary ">Create New</a>
    </p>

    <table id="datatablesSimple" class="table">
        <thead>
            <tr>
                <th scope="col">


                    @Html.DisplayNameFor(model => model.Medicines.First().Id)

                </th>
                <th scope="col">

                    @Html.DisplayNameFor(model => model.Medicines.First().Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Medicines.First().Description)
                </th>
                <th scope="col">
                    Category
                </th>
                <th scope="col">
                    Type
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Medicines.First().Price)

                </th>
                <th scope="col">
                    Manage
                </th>
                <th scope="col">

                    Patients Count

                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>

                <th scope="row">ID</th>
                <th>Medicine  name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Type</th>
                <th>Price</th>
                <th>Manage</th>
                <th>Patients Count  </th>
            </tr>
        </tfoot>
        <tbody>

            @foreach (var item in Model.Medicines)
            {

            <tr>

                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Medicine" asp-route-id="@item.Id"><i class="far fa-pen-to-square text-bg-info"></i></a>
                    <a asp-action="Details" asp-controller="Medicine" asp-route-id="@item.Id"><i class="far fa-address-card"></i></a>
                    <a asp-action="Delete" asp-controller="Medicine" asp-route-id="@item.Id"><i class="far fa-trash-can text-bg-danger"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patients.Count)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

