@model WebPresentation.ViewModel.Identity.RegisterationInputModel;
@{
    ViewData["Title"] = "Register";
}


<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/mine.css" />


<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    sectin * {
        color: black !important;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>

<section class="page-section bg-primary text-black mb-0">

    <h3 class="mb-5 text-uppercase text-center">Patient Registration</h3>
    <form method="post" asp-controller="Access" asp-action="Register"  enctype="multipart/form-data">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img id="log_patient" src="~/img/portfolio/doctor.png"
                                     alt="Sample photo" />

                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group row">
                                        <label asp-for="@Model.Email"></label>
                                        <input asp-for="@Model.Email" class="form-control" />
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row ">
                                        <label asp-for="@Model.Password"></label>
                                        <input asp-for="@Model.Password" class="form-control" />
                                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="@Model.ConfirmPassword"></label>
                                        <input asp-for="@Model.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <input hidden asp-for="@Model.ReturnUrl" value="@ViewBag.ReturnUrl" />

                                    <div class="form-group row mb-4">

                                        <div data-mdb-input-init class="col form-outline">
                                            <input type="text" asp-for="@Model.FirstName" class="form-control form-control-lg" />
                                            <label class="form-label" asp-for="@Model.FirstName">First name</label>
                                        </div>
                                        <div data-mdb-input-init class="col form-outline">
                                            <input type="text" asp-for="@Model.LastName" class="form-control form-control-lg" />
                                            <label class="form-label" asp-for="@Model.LastName">Last name</label>
                                        </div>

                                    </div>

                                    <div class="form-group row mb-4">
                                        <div data-mdb-input-init class="form-outline col">
                                            <input type="text" asp-for="@Model.Patient.BIO" class="form-control form-control-lg" />
                                            <label class="form-label" asp-for="@Model.Patient.BIO">BIO</label>
                                        </div>
                                    </div>



                                    <div class="form-group row mb-4">

                                        <div data-mdb-input-init class="form-outline col">
                                            <input type="file" asp-for="@Model.ImageFile" class="form-control form-control-lg" />
                                            <label class="form-label" asp-for="@Model.ImageFile">Image File</label>
                                        </div>
                                    </div>

                                </div>




                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
