@model MedicalState

@{
    ViewData["Title"] = "Medical State Details ";


    var a = 0;

}

<section class="page-section" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-8 col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-black"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <div class="icon-box">
                                <div class="icon " style="color: #5e54b3"><i class="fas fa-heartbeat  fa-8x "></i></div>
                            </div>
                            <h5>@Model.StateName</h5>
                            <p>AT: @(Model.PrescriptionTime )</p>
                            <a asp-action="Edit" asp-controller="MedicalState" asp-route-id="@Model.Id">
                                <i class="far fa-edit mb-5"></i>
                            </a>

                            <a asp-action="Index">

                                <i class="far fa-backward">

                                </i>
                                Go Back
                            </a>
                        </div>
                        <div class="col">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Description</h6>
                                        <p class="text">@Model.StateDescription</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Medicines Count:@Model.Medicines.Count()</h6>
                                        <a class="btn btn-primary m-1" asp-controller="MedicalState" asp-action="AddMedicine" asp-route-id="@Model.Id">Add Medicine</a>
                                        <a class="btn btn-primary m-1" asp-controller="MedicalState" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                        <a class="btn btn-primary m-1" asp-controller="MedicalState" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

                                    </div>
                                </div>
                                <h6>Medicines : </h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <td>Name</td>
                                                <td>Description</td>
                                                <td>Price</td>
                                                <td>dosage</td>
                                                <td>Manfacture Name</td>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var ing in Model.Medicines)
                                            {
                                                <tr class=" mb-3">
                                                    <td>@(a+=1)</td>
                                                    <td>@ing.TradeName</td>
                                                    <td>@ing.Description</td>
                                                    <td>@ing.Price</td>
                                                    <td>@ing.Dosage</td>
                                                    <td>@ing.ManufactureName</td>


                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Go To list </h6>
                                        <a asp-action="Index">Back to List</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section mt-5">
    <!-- Carousel wrapper -->
    <div id="carouselMultiItemExample"
         data-mdb-carousel-init class="carousel slide carousel-dark text-center"
         data-mdb-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model.Medicines)
                        {
                            <div class="col-lg-4">
                                <div class="card m-3">
                                    <img src="/img/portfolio/@item.Image"
                                         class="card-img-top img-fluid" style="max-height:250px "
                                         alt="Waterfall" />
                                    <div class="card-body">
                                        <h5 class="card-title">@item.TradeName</h5>
                                        <p class="card-text">
                                            @item.Description
                                            <br />
                                            Price : @item.Price <br />

                                            Type : @item.MedicineType

                                        </p>
                                        <a asp-action="RemoveMedicine" asp-controller="MedicalState" asp-route-id="@item.Id" data-mdb-ripple-init class="btn btn-primary">Remove From my Profile</a>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>

                </div>
            </div>
        </div>
        <!-- Inner -->
    </div>
    <!-- Carousel wrapper -->
</section>